.title-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 6%;
  width: 100%;  
}

h1 {
  font-size: 50px;
}

.links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
  width: 100%;
}

.links-container div {
  border-radius: 7px;
  display: flex;
  height: 7rem;
  justify-content: center;
  margin: 0 7%;
  transition: 0.5s ease;
  width: 15%;
}

.links-container div:hover {
  background-color: rgb(117, 117, 117);
}

.links-container div a {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 85%;
}

.links-container div a img {
  width: 150%;
}
