.welcome-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-bottom: 4%;
  width: 55%;
}

.profile-image-container {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 60%;
}

.profile-image-container a {
  display: flex;
  justify-content: center;
  width: 50%;
}

.profile-image {
  border-radius: 50%;
  transition: ease 0.6s;
  width: 90%;
}

.profile-image:hover {
  cursor: pointer;
  transform: scale(1.1);
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.greetins-container {
  width: 20%;
}

.greetings {
  font-size: 24px;
  text-align: center;
}

.intro-article-container {
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
  width: 100%;
}

.intro-article{
  font-size: 24px;
  text-align: center;
  width: 50%;
}

.tools-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
  width: 100%;
}
