.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 250px;
  margin-top: 5%;
}

.name-container {
  width: 400px;
}

.name-container h1 {
  font-size: 80px;
}

.dev-container {
  width: 400px;
}

.dev-container h2 {
  font-size: 25px;
}


.paragraph-container {
  width: 400px;
}

.paragraph-container p {
  font-size: 16px;
}

.show-hide {
  animation-direction: alternate-reverse;
  animation: show-hide 1.3s infinite;
}

@keyframes show-hide {
  0%, 40% {
    opacity: 1;
  }
  60%, 100% {
    opacity: 0;
  }
}

@media only screen and (max-width: 768px) {
  .home-container {
    text-align: center;
    margin-top: 40%;
  }

  .name-container {
    width: 100%;
  }

  .paragraph-container {
    width: 100%;
  }

  .dev-container {
    width: 100%;
  }

  .name-container h1 {
    font-size: 60px;
  }

  .dev-container h2 {
    font-size: 20px;
  }

  .paragraph-container p {
    font-size: 15px;
  }
}