@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Prompt:wght@200&display=swap');

nav {
  background-color: black;
  position: fixed;
  top: 0;
  align-items: center;
  border-bottom: 1px rgb(75, 75, 75) solid;
  display: flex;
  height: 5rem;
  justify-content: center;
  margin-bottom: 2%;
  width: 100%;
  font-family: 'Prompt', sans-serif;
  font-weight: 400;
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
  width: 10%;
}

li {
  border-radius: 5px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  transition: 0.3s ease;
  width: 100%;
}

li:hover {
  background-color: rgb(117, 117, 117);
}
