.not-found-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 10%;
  width: 100%;
  height: 60vh;
}

.not-found-container img {
  width: 35%;
}

.error-message-container {
  font-size: 24px;
}

@media only screen and (max-width: 768px) {
  .not-found-container {
    flex-direction: column;
    height: 80vh;
  }

  .not-found-container img {
    width: 70%;
  }

  .error-message-container {
    text-align: center;
    order: 2;
  }
}